

.nav-main{

 
}

.nav-connect-wallet{
    background: linear-gradient(
        to left,
        transparent,
        rgb(var(--btn-end-rgb))
      )
      rgb(var(--btn-start-rgb));
    color: rgb(2, 11, 17);
    border-radius: 5px;
    padding: 5px 8px ;
    font-size: 14px;
    font-weight: bold;
}
.acccount-address{
  transition: 0.4s ease-in-out;
  color:  rgb(159, 206, 226);
  font-size: 14px; gap: 4px;
}

.logo-box{
  color:  rgb(159, 206, 226);
  font-weight: bold;
  font-size:18px;
}